body{
	margin: 0;
	background: #34495e;
	font-family: tahoma;
}

.container .box{
	width: 30%;
	height: auto;
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid #ecf0f1;
	text-align: center;

}



.container .box a{
	color: #fff;
	text-decoration: none;
}

.container .box .signup-ipt{
	display: block;
	width: 80%;
	padding: 15px 5px;
	margin: 10px auto;
	border-radius: 5px;
	border: 2px solid  #34495e;

}

.container .box input[type='submit']{
	display: block;
	width: 30%;
	padding: 10px 5px;
	margin: 8px auto;
	border-radius: 5px;
	border: 2px solid  #34495e;
}



.container .box  .chat-box,
 .chat-box{
	
	width: 90%;
	height: auto;
	margin: 0 auto;
	border: 1px solid #ecf0f1;

}

.container .box .chat-box .msg,
.chat-box .msg{
	width: 100%;
	min-height: 400px;
	margin: 0 auto;
	border: 1px solid #ecf0f1;


}
.container .box .chat-box input[name='msg'],
 .chat-box input[name='msg']{
	display: block;
	float: left;
	width: 60%;
	box-sizing: border-box;
	padding: 10px 5px;
	overflow: hidden;

}
.container .box .chat-box input[name='send-msg'],
.chat-box input[name='send-msg']{
	display: block;
	width: 40%;
	box-sizing: border-box;
	padding: 10px 5px;
	overflow: hidden;
	border-radius: 0;
	margin: 0;
}

.error, .regi-suc{
	color: #e74c3c;
}

.signup{
	color: #2ecc71;
}